<tr id="type_element_<%= type_element.id %>">
	<td> </td>
	<td><%= type_element.name %> </td>
	<td><%= type_element.code %> </td>
	<td> <%= type_element.description %> </td>
	<td> <%= image_tag(type_element.picture, :size => "64x64", alt: "") %> </td>
	<td> <%= link_to 'Edit', edit_type_set_type_element_path(type_element.type_set, type_element) %> </td>
	<td> <%= link_to 'Delete', [type_element.type_set, type_element], method: 'delete', data: {confirm: 'Are you sure ?'} %> </td>
</tr>
